<h1>Editing Genre</h1>

<%= render 'form', genre: @genre %>

<%= link_to 'Afficher', @genre, class: "btn blue waves-effect waves-light btn-small" %> |
<%= link_to 'Retour', genres_path, class: "btn red waves-effect waves-light btn-small" %>
