<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @genre.title %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre),  class: "btn waves-effect waves-light btn-small"%> |
<%= link_to 'Retour', genres_path, class: "btn red waves-effect waves-light btn-small" %>
