<h1 class="center">Modifier un Manga</h1>

<%= render 'form', manga: @manga %>

<%= link_to 'Afficher', @manga, class: "btn blue waves-effect waves-light btn-small" %> |
<%= link_to 'Retour', mangas_path, class: "btn red waves-effect waves-light btn-small" %>
