<h1 class="center">Editing Medium</h1>

<%= render 'form', medium: @medium %>

<%= link_to 'Afficher', @medium, class: "btn blue waves-effect waves-light btn-small" %> |
<%= link_to 'Retour', media_path, class: "btn red waves-effect waves-light btn-small" %>
