
<p>
  <strong>Titre:</strong>
  <%= @medium.titre %>
</p>

<%= link_to 'Editer le manga', edit_medium_path(@medium), class: "btn waves-effect waves-light btn-small" %> 
<%= link_to 'Retour', media_path, class: "btn red waves-effect waves-light btn-small" %>
