<h1 class="center">Modifier le Support</h1>

<%= render 'form', support: @support %>

<%= link_to 'Afficher', @support, class: "btn blue waves-effect waves-light btn-small hoverable" %> |
<%= link_to 'Retour', supports_path, class: "btn red waves-effect waves-light btn-small hoverable" %>
